<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/add_story.css">-->
		<link rel="stylesheet" type="text/css" href="../../static/css/add_story.css"
		
	</head>
	<body>
	<center><h1><a href="http://127.0.0.1:8001/storieshare/"> <img id="logo_img" src="../../static/images/logo.png" alt="read" width="160"height="97"></a> </h1></center> 
	<form action="newstory" method="post" id="usrform">
	{% csrf_token %}

	<center><div id="input">
	<table border="1">
	<tr>
	<th>Headline:</th><th><input type="text" name="Headline" placeholder="choosa a headline"/></input></th><br>
	<tr>
	<th>short Description:</th><th><input type="text" name="Description" placeholder="choosa a Description"/></input></th><br>
	<tr>
	<th>the story:</th><th><textarea rows="25" cols="75" name="Story" form="usrform" placeholder="Enter your story here..."></textarea></th><br>
	<tr>
	<th>do you want your story to be public?</th>
	<input type="hidden" name="storyPublic" value=0 />
	<th><input type="checkbox" name="storyPublic" value=1 /></th>
	<tr>
	<th>genre of the story:</th>
	<th>funny:<input type="checkbox" name="generChoose" value="1"/>
	scary:<input type="checkbox" name="generChoose" value="2" />
	real:<input type="checkbox" name="generChoose" value="3" />
	other:<input type="checkbox" name="generChoose" value="4" />
	</table>
	<input class="done" type="submit" value="Done"/>
	
	</div></center>
	</form>
         
	<body>
</html>
