<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/add_story.css">-->
		<link rel="stylesheet" type="text/css" href="../../static/css/add_story.css"
		
	</head>
	<body>
	<center><h1><a href="http://127.0.0.1:8001/storieshare/"> <img id="logo_img" src="../../static/images/logo.png" alt="read" width="160"height="97"></a> </h1></center> 
	<form action="newstory" method="post" id="usrform">
	{% csrf_token %}

	<center><div id="input">
		
	<tr>
	<th>Headline:</th><th><input type="text" name="Headline" placeholder="choosa a headline"/></input></th><br>
	<tr>
	<th>the story:</th><th><textarea rows="30" cols="90" name="Story" form="usrform" placeholder="enter your text here" ></textarea></th><br>
	
	<input class="done" type="submit" value="Done"/>
	</div></center>
	</form>
         
	<body>
</html>
