<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/add_story.css">-->
		<link rel="stylesheet" type="text/css" href="../../static/css/add_story.css"
		
	</head>
	<body>
	<center><h1> <img id="logo_img" src="../../static/images/logo.png" alt="read" width="160"height="97"> </h1></center> 
	<form action="newstory" method="post" id="usrform">
	<!--{% csrf_token %}-->

	<center><div id="input">
	<table border="1">	
	<tr>
	<th>Headline:</th><th><input type="text" name="headline"/></input></th><br>
	<tr>
	<th>Short description:</th><th><input type="text" name="description"/></input><th><br>
	<tr>
	<th>the story:</th><th><textarea rows="25" cols="75" name="story" form="usrform">Enter your story here...</textarea></th><br>
	</table>
	<input class="done" type="submit" value="Done"/>
	</div></center>
	</form>
         
	<body>
</html>
