<html>
<head>

</head>

<body>
<h1> Welcome to <img src = ></h1>
<div>
	<table>
	<td>
	<ul> 
	<li> Username <input type = "text" > </li>
	<li> Password <input type = "password" > </li>
	</ul>
	</td>
	<td>
		<input type = "button" value = "login" > 
	</td>
	<td>
	<ul>
	<li> First name  <input type = "text" > <li>
	<li> Last name <input type = "text" > </li>
	<li> Email <input type = "text" > </li>
	<li> Password  <input type = "password" > </li>
	<li> Birthdate <input type = "text" > </li>
	<
	</td>
</div>
	
	
	
	</table>


</body>
</html>
