<html>
	<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/written.css">
	</head>

	<body>
		<center><h1><a href="http://127.0.0.1:8001/storieshare/"> <img id="logo_img" src="{{ STATIC_URL }}images/logo.png" alt="read" 		width="160"height="97"></a> </h1></center> 
		
		<center><table border="1">
		<tr>
		<th><p>name</p></th>
		<th><p>description</p></th>
		{% if stories %}
			{% for story in stories %}
				<tr>
				<th><a href="http://127.0.0.1:8001/readstory/{{story.storyID}}"><h1>{{story.storyHeadline}}</h1></a></th>				
				<th><p>{{story.storyDescription}}</p></th>
				
		
			{% endfor %}
			</table></center>
		{% else %}
			no stories!
		{% endif %}
			



	</body>




</html>
