{% extends 'base.html' %}
<!--html-->
	<!--head--> 
{% block headers %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/show.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/clock.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/clock.js"></script>

		<script type="text/javascript">


		$(document).ready(function () {
			$("#cb").click(function (){
				$("#comment").toggle();
				
				
			});
			
			
		});
		</script>
{% endblock %}
	<!--/head-->
	<body>
{% block content %}
                
	<div id="login_signup">
	</div>
	<br>
		<center><h1><a href="http://127.0.0.1:8001/storieshare/"> <img id="logo_img" src="{{ STATIC_URL }}images/logo.png" alt="read" 		width="160"height="97"></a> </h1></center> 
			{% if paragraphs %}
				
				 {% for paragraph in paragraphs %}
					{% if forloop.counter == 1 %}
					<center><h1>{{paragraph.story.storyHeadline}}</h1></center>
					{% endif %}
					<center><p>{{paragraph.pargraphContent}}</p></center>
				 {% endfor %}	
			{% else %}
				this story is empty
			{% endif %} 
			
			{% if paragraphs.0.story.storyPublic == True %}
				<div><a href="/readstory/{{t}}/newpara"><center><input class="bo" id="pb" type="button" value="add paragraph"></input></a></div>
			{% endif %}
			<br>
			<br>
			<br>
			<center><input class="bo" id="cb" type="button" value="add comment"></input>
                        <div>

			

				<form action="/readstory/{{t}}/newcomment" method="post" id="usrform">
			{% csrf_token %}
			<input type="hidden" name="Story" value="{{paragraph.story}}"></input>
			

			<left>
			<div id="comment">
                          <div><input class="namebox" type="text" name="Writer" form="usrform"  placeholder="name"> </div>
		  <div id="space"><textarea class="namebox" rows="10" cols="120" name="Com" form="usrform" placeholder="enter your comment here" ></textarea>  </div> 
			
			<div id="spaced"><input class="bo" type="submit" value="comment" id="namebox"/> </div>

			</form>
			</div>
			</left>
			{% if coms %}
				
				<left>
				 {% for com in coms reversed %}
					
					<div><span id="commentbox">  <p> <span id="commentor">{{com.writer}} </span>: <span> "{{com.commentContent}}" </span></p> <br><br> </span></div>
				 {% endfor %}
				<left>
			{% endif %}
			
<br>
<br>
			<!--<center><input class="bo" id="cb" type="button" value="add comment"></input>
			<br>
			<div id="comment">
				
			<form action="/readstory/{{t}}/newcomment" method="post" id="usrform">
			{% csrf_token %}
			<input type="hidden" name="Story" value="{{paragraph.story}}"></input>
			

			<center><table border="1">
			<tr>
			<th> comment:</th><th><textarea rows="5" cols="40" name="Com" form="usrform" placeholder="enter your comment"></textarea></th>
			<th> <input type="text" name="Writer" placeholder="enter your name"/></input></th>
			<th><input class="bo" type="submit" value="Done"/></th>
			</form>
			</div>-->
{% endblock %}
	<!--/body-->



<!--/html-->
