<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/written.css">


	</head>
	<body>
		<center><h1><a href="http://127.0.0.1:8001/storieshare/"> <img id="logo_img" src="{{ STATIC_URL }}images/logo.png" alt="read" 		width="160"height="97"></a> </h1></center> 
			{% if paragraphs %}
				 {% for paragraph in paragraphs %}
					<center><h1>{{paragraph.story.storyHeadline}}</h1></center>
					<center><p>{{paragraph.pargraphContent}}</p></center>
				 {% endfor %}	
			{% else %}
				this story is empty
			{% endif %}
			
			{% if coms %}
				<center><table border="1">
				<tr>
				 {% for com in coms %}
					<tr>
					<th><p>{{com.writer}}</p></th>
					<th><p>{{com.commentContent}}</p>
				 {% endfor %}
				</table></center>
			{% endif %}
			
				
			<form action="newcomment" method="post" id="usrform">
			{% csrf_token %}
			<input type="hidden" name="Story" value="{{paragraph.story}}"></input>
			

			<center><table border="1">
			<tr>
			<th> comment:</th><th><textarea rows="5" cols="40" name="Com" form="usrform">Enter your comment 				here...</textarea></th>
			<th> <input type="text" name="Writer"/>your name</input></th>
			<th><input class="done" type="submit" value="Done"/></th>
			</form>
			

	</body>



</html>
