body{background-image:url('clouds.jpg');}
#read_homepage{position:relative;
 top:60px;
 left:210px;}
#write_homepage{position:	
absolute;
 top:250px;
 left:700px;}





















































































































































































	
body{background-

