<html>

<head>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sories.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

		<script type="text/javascript">


	$(document).ready(function(){
		
	$("#read_img").hover(function()
		{$(this).animate({width: 			"350px",height:"250px"}, 'fast');},
		function()
		 {$(this).animate({width: 			"300px",height:"200px"}, 'fast');
		 
	
		});
	
	$("#write_img").hover(function()
		{$(this).animate({width:"350px",height:"250px"}, 'fast');},
		function()
		 {$(this).animate({width:"300px",height:"200px"}, 'fast');
		 
	
		});
	

	});

</script>

</head>

<body>

	<center><h1> <img id="logo_img" src="{{ STATIC_URL }}images/logo.png" alt="read" 		width="160"height="97"> </h1></center> 
	<div id="login_signup">
	</div>
	<br>
       
	<br>
	<center><div>	
	<div id="read_homepage" float="left">
	<a href="http://127.0.0.1:8001/readstory"><img id="read_img" src="{{ STATIC_URL }}images/books.jpg" alt="read" 			width="300"height="200"></a><center>
	<p class="read_write"">Read</p>

	</div>
	<div id="write_homepage" float="left">
		<a href="http://127.0.0.1:8001/addstory"><img id="write_img" src="{{ STATIC_URL }}images/write.jpg" alt="write" 		width="300"height="200"></a>
	<br>
	<center><p class="read_write">Write</p></center>
	</div>
	</div></center>
	<p id="copy">storieShare-MEET-Y2-2013</p>
	
</body>

</html>
